.root {
	-fx-background-color: rgb(207,242,245);
}

#login-button{
	-fx-background-color: rgb(20,154,66);
}

#cancel-button{
	-fx-background-color: red;
}

.button {
	-fx-text-fill: white ;
	-fx-font-weight: bold;
	-fx-font-size: 16px;
	-fx-background-radius: 50px;
	-fx-border-radius: 50px;
	-fx-pref-width: 100px;
}

.label{
	-fx-pref-width: 80px;
	-fx-font-size: 16px;
}
.text-field{
	-fx-font-size: 15px;
	-fx-background-color: rgb(250,250,250);
}